<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos Grabados</title>

    {% load static %}
    <meta charset="UTF-8">
    <title>{% block tittle %} {%endblock%}</title>
     <!--Import Google Icon Font-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/Estilos.css' %}"  media="screen,projection"/>


</head>
<body>
    <header class="header">
        <div class="container logo-nav">
            <a href="index" class="logo">Logo</a>
            <nav class="navigation">
                <ul>

                  <li><a href="pacientes">Volver</a></li>

                  <li><a href="">Cerrar Sesion</a></li>

             </ul>
            </nav>
        </div>
    </header>
         <br><br><br><br><br><br>


    <h1>Paciente Agregado</h1>



<br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer class="footer">
        <div class="container">

                <p>Centro medico</p>

        </div>
    </footer>
</body>
</html>