# Extensiones #
###############
*.db
*.ini
# Byte-compiled / optimizado #
*.pyc
*.py[cod]

# Directorios #
###############
__pycache__/
/migrations/**
**/migrations
*temp

# Archivos específicos #
########################
db.sqlite3
Taller/settings.py

# generado por el sistema #
###########################
.DS_Store
Thumbs.db
*~