<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>M.C.S.</title>
  <meta name="author" content="Team_digital">
  <meta name="description" content="Sistema de gestión MCS">
  <meta name="keywords" content="MCS">
  <link href="{% static 'css/tailwind.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body class="font-sans leading-normal tracking-normal mt-3">
  <!--Nav desde tablets hasta computadores -->
  <nav class="hidden md:flex md:flex-row md:justify-center ">
    <a  class="pl-3" href="index"><img src="{% static 'img/logo-1.png' %}" alt="Logo"></a>
    <ul class="flex flex-col justify-left md:flex-row md:justify-evenly md:w-full text-white">
      <li class="text-left text-3xl md:hidden">☰</li>

      {% if user.is_authenticated %}
      {% if perfil.nivel|upper == 'CLIENTE' %}
      <li class="flex items-center"><a class="red-rounded-button" href="reservas">Reserva</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="ver_perfil">Perfil</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="servicios">Servicios</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="faq">Ayuda</a></li>

      {% elif perfil.nivel|upper == 'ADMIN' or perfil.nivel == 'admin' %}
      <li class="flex items-center"><a class="red-rounded-button" href="empleado">Agregar empleado</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="registrar_proveedor">Registrar proveedor</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="exportar">Exportar</a></li>

      {% elif perfil.nivel|upper == 'EMPLEADO' %}
      <li class="flex items-center"><a class="red-rounded-button" href="registro_cliente">Cliente</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="ver_proveedores">Proveedores</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="servicios">Servicios</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="ver_reservas">Reservas</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="orden_trabajo">Orden de trabajo</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="registro_vehiculo">Registro Vehiculo</a></li>
      
      
      <li class="flex items-center"><a class="red-rounded-button" href="exportar">Exportar</a></li>

      {% elif perfil.nivel|upper == 'PROVEEDOR' %}
      <li class="flex items-center"><a class="red-rounded-button" href="reservas">Reserva</a></li>

      {% else %}
      <li class="flex items-center"><a class="red-rounded-button" href="">NIVEL DESCONOCIDO ({{perfil.nivel}})</a></li>
      {% endif %}
      {% endif %}

      {% if not user.is_authenticated %}
      <li class="flex items-center"><a class="red-rounded-button" href="registro_cliente">Cliente</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="servicios">Servicios</a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="faq">Ayuda</a></li>

      {% endif %}

      {% if not user.is_authenticated %}
      <li class="flex items-center"><a class="red-rounded-button" href="login">Mi Cuenta</a></li>
      {% endif %}

      {% if user.is_authenticated %}
      <li class="flex items-center"><a class="red-rounded-button" href="salir">Salir</a></li>
      {% endif %}
    </ul>
  </nav>

  <!-- Botón hamburgesa SOLO CELULAR -->
  <details class="text-white md:hidden ">
    <summary class="flex justify-center text-left text-3xl md:hidden">☰</summary>
    <ul class="flex flex-col justify-center text-center text-white">
      <li><a href="registro_cliente">Cliente</a></li>
      <li><a href="reserva">Reserva</a></li>
      <li><a href="">Factura</a></li>
      <li><a href="servicios">Servicios</a></li>
      <li><a href="">Orden de reparacion</a></li>
      <li><a href="">Exportar</a></li>
      <li><a href=""></a>Configuracion</li>
      <li><a href="login">Mi Cuenta</a></li>
    </ul>
  </details>

  <div class="flex flex-col md:flex-row px-3 md:px-14">
  
    {% block content %}

    {# Aquí irá el contenido que extienda la base #}

    {% endblock content %}

  </div>

</body>

</html>