<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comprobante de pago - {{title}}</title>
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <style>#detalles article:nth-child(2n){background-color: #e5e7eb;}</style>
</head>
<body>
  <section class="text-center">
    <h1 class="text-2xl font-bold p-2">Comprobante de pago</h1>
    <h2 class="text-xl">Tipo de recibo: <strong>{{ title }}</strong></h2>
    <article>
      <fieldset class="border-solid border-2 border-gray-400 rounded-lg m-5">
        <legend style="text-align:center;" class="border-solid border-2 border-gray-400 rounded-full p-2">&nbsp;COMPROBANTE DE PAGO&nbsp;</legend>
        <header class="flex justify-around flex-wrap flex-row-reverse m-1">
          <aside>
            <div class="rounded border-solid border-2 border-gray-400 p-3 bg-gray-100">
              <h1><strong>{{ title }}</strong></h1>
              <h2><strong>N°</strong> 001</h2>
            </div>
          </aside>
          <div class="flex justiify-center flex-col">
            <h1>Taller Mecánico "SERVIEXPRESS"</h1>
            <h2 class="text-gray-400">Mechanic car services</h2>
            <h3 class="text-gray-400">123.456.789-5</h3>
            <h4 class="text-gray-400">Jorge Canning #501, Población la Legua Emergencia, San Joaquín</h4>
            <h5 class="text-gray-400">Servicio técnico automotriz.</h5>
          </div>
        </header>
        <div class="flex justify-around flex-wrap">
          <div>
            <label>Giro: <span>Mecánica Automotriz</span></label><br>
            <label>Razón social: <span>SERVIEXPRESS</span></label>
          </div>
          <div>
            <label>Fecha emisión: <span>12-Junio-2021</span></label>
          </div>
        </div>
        <section>
          <h1 class="text-lg p-2">Detalle de los servicios y/o productos solicitados.</h1>
          <div id="detalles" class="p-5">
            <article class="flex flex-nowrap">
              <div class="w-1/4 px-0">Código</div>
              <div class="w-1/4 md:w-1/2 lg:w-3/4 xl:w-11/12 px-0 border-solid border-l-2 border-gray-400">Descripción</div>
              <div class="w-1/4 px-0 border-solid border-l-2 border-gray-400">Cantidad</div>
              <div class="w-1/4	md:w-1/6 border-solid border-l-2 border-gray-400">valor</div>
            </article>
            <article class="flex flex-nowrap">
              <div class="flex justify-center items-center break-all w-1/4 px-0">001002003004212</div>
              <div class="flex justify-center items-center break-words w-1/4 md:w-1/2 lg:w-3/4 xl:w-11/12 px-0 border-solid border-l-2 border-gray-400">Cambio de neumáticos</div>
              <div class="flex justify-center items-center w-1/4 px-0 border-solid border-l-2 border-gray-400">1</div>
              <div class="flex justify-center items-center w-1/4	md:w-1/6 border-solid border-l-2 border-gray-400">$14.990</div>
            </article>
            <article class="flex flex-nowrap">
              <div class="flex justify-center items-center break-all w-1/4 px-0">002002003004333</div>
              <div class="flex justify-center items-center break-words w-1/4 md:w-1/2 lg:w-3/4 xl:w-11/12 px-0 border-solid border-l-2 border-gray-400">Ruedas</div>
              <div class="flex justify-center items-center w-1/4 px-0 border-solid border-l-2 border-gray-400">1</div>
              <div class="flex justify-center items-center w-1/4	md:w-1/6 border-solid border-l-2 border-gray-400">$99.990</div>
            </article>
            <article class="flex flex-nowrap">
              <div class="flex justify-center items-center break-all w-1/4 px-0">003002003004432</div>
              <div class="flex justify-center items-center break-words w-1/4 md:w-1/2 lg:w-3/4 xl:w-11/12 px-0 border-solid border-l-2 border-gray-400">propina</div>
              <div class="flex justify-center items-center w-1/4 px-0 border-solid border-l-2 border-gray-400">1</div>
              <div class="flex justify-center items-center w-1/4	md:w-1/6 border-solid border-l-2 border-gray-400">$9990</div>
            </article>
            <article class="flex flex-nowrap">
              <div class="flex justify-center items-center break-all w-1/4 px-0">004002003004333</div>
              <div class="w-1/4 md:w-1/2 lg:w-3/4 xl:w-11/12 px-0 border-solid border-l-2 border-gray-400">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus reprehenderit minima quos obcaecati voluptates amet quisquam itaque, nulla aspernatur at, impedit iste nesciunt a distinctio vel. Amet repudiandae tempore rerum.
              </div>
              <div class="flex justify-center items-center w-1/4 px-0 border-solid border-l-2 border-gray-400">1</div>
              <div class="flex justify-center items-center w-1/4	md:w-1/6 border-solid border-l-2 border-gray-400">$99.990</div>
            </article>
          </div>
        </section>
        <footer class="p-5">
          <div class="flex justify-end">
            <div class="w-36 px-4">Monto neto: </div>
            <div class="w-1/4	md:w-1/6 border-solid border-l-2 border-gray-400">$1000</div>
          </div>
          <div class="flex justify-end">
            <div class="w-36 px-4 bg-gray-200">Monto exento: </div>
            <div class="w-1/4	md:w-1/6 border-solid border-l-2 border-gray-400 bg-gray-200">$1000</div>
          </div>
          <div class="flex justify-end">
            <div class="w-36 px-4">IVA: </div>
            <div class="w-1/4	md:w-1/6 border-solid border-l-2 border-gray-400">$190</div>
          </div>
          <div class="flex justify-end">
            <div class="w-36 px-4 bg-gray-200">Monto total: </div>
            <div class="w-1/4	md:w-1/6 border-solid border-l-2 border-gray-400 bg-gray-200">$1190</div>
          </div>
        </footer>
       </fieldset>
    </article>
  </section>
</body>
</html>