<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}">
    

    <title>Document</title>
</head>
<body>

    <div class="container">
        <section id="menu1" >
            <a href="#menu1">Menu1</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates sint consequuntur sequi perspiciatis dolorum rerum amet porro quibusdam doloremque repellendus deserunt, necessitatibus accusantium adipisci ea. Ipsa minima aut fugiat?</p>
        </section >
        <section id="menu2">
            <a href="#menu2">Menu2</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates sint consequuntur sequi perspiciatis dolorum rerum amet porro quibusdam doloremque repellendus deserunt, necessitatibus accusantium adipisci ea. Ipsa minima aut fugiat?</p>
        </section>
        <section id="menu3" >
            <a href="#menu3">Menu3</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates sint consequuntur sequi perspiciatis dolorum rerum amet porro quibusdam doloremque repellendus deserunt, necessitatibus accusantium adipisci ea. Ipsa minima aut fugiat?</p>
        </section>

    
</body>
</html>