<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/faqs.css' %}">
    
    
   

    <title>Document</title>
</head>
<body>
    <header>
        <nav class="">
            <ul class="">
            <li><a href="index"><img src="{% static 'img/logo2.png' %}" alt="" width="100"></a></li>
            </ul>
        </nav>
    </header>


    
    <div class="container">
        <section id="menu1" >
            <a href="#menu1" class="menu">Quienes Somos?</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates sint consequuntur sequi perspiciatis dolorum rerum amet porro quibusdam doloremque repellendus deserunt, necessitatibus accusantium adipisci ea. Ipsa minima aut fugiat?</p>
        </section >
        <section id="menu2">
            <a href="#menu2" class="menu">Como registrarse?</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates sint consequuntur sequi perspiciatis dolorum rerum amet porro quibusdam doloremque repellendus deserunt, necessitatibus accusantium adipisci ea. Ipsa minima aut fugiat?</p>
        </section>
        <section id="menu3" >
            <a href="#menu3" class="menu">Como realizar una reserva?</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates sint consequuntur sequi perspiciatis dolorum rerum amet porro quibusdam doloremque repellendus deserunt, necessitatibus accusantium adipisci ea. Ipsa minima aut fugiat?</p>
        </section>
        <section id="menu4" >
            <a href="#menu4" class="menu">Cuanto demora la confirmacion de la reserva?</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates sint consequuntur sequi perspiciatis dolorum rerum amet porro quibusdam doloremque repellendus deserunt, necessitatibus accusantium adipisci ea. Ipsa minima aut fugiat?</p>
        </section>

        <section id="menu5" >
            <a href="#menu5" class="menu">Contactar con nosotros</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates sint consequuntur sequi perspiciatis dolorum rerum amet porro quibusdam doloremque repellendus deserunt, necessitatibus accusantium adipisci ea. Ipsa minima aut fugiat?</p>
        </section>

        <section id="menu6" >
            <a href="#menu6" class="menu">Es posible modificar la reserva luego de la confirmacion?</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates sint consequuntur sequi perspiciatis dolorum rerum amet porro quibusdam doloremque repellendus deserunt, necessitatibus accusantium adipisci ea. Ipsa minima aut fugiat?</p>
        </section>

    </div>
    
</body>
</html>