{% extends 'mantenedor/base.html' %}
{% load static %}
{% block content %}
<div class="main-content flex-1 bg-gray-100 mt-3 md:mt-2 pb-3 md:pb-5">
  <div class=" fondo p-4 shadow text-2xl text-white">
    <h3 class="font-bold pl-2 text-center md:text-left">Bienvenido
      {% if user.is_authenticated %}
      {{ user.first_name }}
      ({{ perfil.nivel|lower }})
      {% endif %}
    </h3>
  </div>

  <div class="slider">
    <ul class="">
      <li>
        <div id="slide1">
          <img src="{% static 'img/kia-picanto.jpg' %}" alt="Kia picanto">
        </div>
      </li>
      <li>
        <div id="slide2">
          <img src="{% static 'img/hyundai_accent.jpg' %}" alt="Huyndai Accent">
        </div>
      </li>
      <li>
        <div id="slide3">
          <img src="{% static 'img/hyundai-elantra.jpg' %}" alt="Huyndai Elantra">
        </div>
      </li>
      <li>
        <div id="slide4">
          <img src="{% static 'img/hyundai-tucson.jpg' %}" alt="Hyundai Tucson">
        </div>
      </li>
    </ul>
  </div>

  <br class="hidden md:block">
  <br class="hidden md:block">

  <section class="flex flex-col md:flex-row">

    <article class="content posts-1 max-w-lg">
      <h1 class="h1">Registrate</h1>
      <img class="setenta-vw " src="{%static 'img/formulario.jpg' %}" alt="Foto index1" style="max-width: 250px;margin: auto;"/>
      <p class="text-justify">  
        Equipos de sonido, multimedia, GPS, manos libres…La electricidad cada vez tiene más importancia en un automóvil. 
        Por ello debemos estar muy atentos de su buen estado y funcionamiento de la bateria. En Taller Mechanic-Car te ayudamos a solucionar
          los problemas que surjan en tu vehiculo.
      </p>
    </article>

    <article class="content posts-1 max-w-lg">
      <h1 class="h1">Reserva tu hora</h1>
      <img class="setenta-vw" src="{% static 'img/reserva .png' %}" alt="foto index2" style="max-width: 250px;margin: auto;"/>
      <p class="text-justify">
        En Mechanic-Car contamos con la maquinaria necesario para el cambio de neumáticos. 
        Recuerda que las ruedas del vehiculo son la única parte de tu vehiculo que está en contacto con 
        la carretera y un buen estado de las mismas es imprescindible para conducir con seguridad en 
        la carretera. Pide cita para comprobar el estado de tus neumáticos o para renovarlos.
      </p>
    </article>

  </section>

  <section id="extras">
    <ul class="flex justify-around md:block">
      
      <li class="md:p-5 lg:p-9"><img src="{% static 'img/logo-kia.png' %}" alt="auto kia"></li>
      <li class="md:p-5 lg:p-9"><img src="{% static 'img/logo-Hyundai.png' %}" alt="auto hyundai"></li>

    </ul>
  </section>
    
{% endblock content %}