{% extends 'mantenedor/base.html' %}
{% load static %}
{% block content %}
<div class="main-content flex-1 bg-gray-100 mt-3 md:mt-2 pb-3 md:pb-5">
  <div class=" fondo p-4 shadow text-2xl text-white">
    <h3 class="font-bold pl-2 text-center md:text-left">Bienvenido
      {% if user.is_authenticated %}
      {{ user.first_name }}
      ({{ perfil.nivel|lower }})
      {% endif %}
    </h3>
  </div>

  <div class="slider">
    <ul class="">
      <li>
        <div id="slide1">
          <img src="{% static 'img/auto5.jpg' %}">
        </div>
      </li>'
      <li>
        <div id="slide2">
          <img src="{% static 'img/auto6.jpg' %}">
        </div>
      </li>
      <li>
        <div id="slide3">
          <img src="{% static 'img/auto7.jpg' %}">
        </div>
      </li>
      <li>
        <div id="slide4">
          <img src="{% static 'img/auto2.jpg' %}">
        </div>
      </li>
    </ul>
  </div>

  <div class="circulos">
    <ul>
      <li><a href="#slide1"></a></li>
      <li><a href="#slide2"></a></li>
      <li><a href="#slide3"></a></li>
      <li><a href="#slide4"></a></li>
    </ul>
  </div>

  <br class="hidden md:block">
  <br class="hidden md:block">

  <section class="flex flex-col xl:flex-row text-center">
    <article id="content">
      <div id="posts-1">
        <div class="post">
          <h1 class="h1">Mantencion</h1>
        </div>
        <img class="setenta-vw" src="{%static 'img/mantencion.jpg' %}" alt="Foto Vehículo" />
      </div>
      <p class="text-justify">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries.
      </p>
    </article>
    <article id="content">
      <div id="posts-1">
        <div class="post">
          <h1 class="h1">Neumaticos</h1>
        </div>
        <img class="setenta-vw" src="{% static 'img/neumatico2.jpg' %}" alt="Foto Neumático" />
      </div>
      <p class="text-justify">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries.
      </p>
    </article>
  </section>

  <section id="extras">
    <ul class="flex justify-around md:block">
      <li class="hidden p-9 md:block md:p-5 lg:p-9"><img src="{% static 'img/motor.jpg' %}"></li>
      <li class="p-9 md:p-5 lg:p-9"><img src="{% static 'img/homero.jpg' %}"></li>
      <li class="hidden lg:block md:p-5 lg:p-9"><img src="{% static 'img/bujias.jpg' %}"></li>
      <li class="p-9 md:p-5 lg:p-9"><img src="{% static 'img/neumatico.jpg' %}"></li>
      <li class="hidden md:block md:p-5 lg:p-9"><img src="{% static 'img/volante.jpg' %}"></li>
    </ul>
  </section>

  <section id="logos" class="pt-12 pb-6">
    <ul>
      <li class="p-0 md:p-5 lg:p-12"><img src="{% static 'img/logo-bmw.png' %}"></li>
      <li class="p-0 md:p-5 lg:p-12"><img src="{% static 'img/logo-che.png' %}"></li>
      <li class="p-0 md:p-5 lg:p-12"><img src="{% static 'img/logo-ford.png' %}"></li>
      <li class="p-0 md:p-5 lg:p-12"><img src="{% static 'img/logo-volsk.png' %}"></li>
      <li class="p-0 md:p-5 lg:p-12"><img src="{% static 'img/logo-nissan.png' %}"></li>
    </ul>
  </section>
{% endblock content %}