<!DOCTYPE html>
<html lang="es">

<head>
  <title>Login</title>
  <meta charset="UTF-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Team Digital">
  <meta name="description" content="Gestión del taller mecánico serviexpress">
  <meta name="keywords" content="taller, reparación, autos, vehiculos">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>

<body style="background-color: #101f38; background-image: url('{% static 'img/starring.png' %}');" class="font-sans leading-normal tracking-normal">
  <!--Nav-->
  <nav>
    <ul class="flex flex-row justify-center text-white">
      <li><a href="/"><img src="{% static 'img/logo-1.png' %}" alt="Logo MCS"></a></li>
    </ul>
  </nav>

    <div class="bg-transparent px-10">
      <div>
        <div class=" bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
          <h3 class="font-bold pl-2">
            <abbr title="• Inicio de sesión.
            Recuerde que su usuario es su RUT.
            En caso de pérdida de la contraseña, 
            por favor dirigirse a atención al cliente.">Login</abbr>
          </h3>
        </div>
      </div>
      <section class="bg-white formulario">
        <form method="POST" action="" class="flex flex-col">
          {% csrf_token %}
          {% if errores %}<h2 style="color: red;">{{ errores }}</h2>{% endif %}
          <label >Usuario: </label>
          <input type="text" id="usuario" name="username" required>
          <label >Contraseña: </label>
          <input type="password" id="password" name="password">
          <br>
          <input type="submit" value="Ingresar" >
          <hr>
          <a class="flex justify-center text-blue-800" href="/Mantenedor/registro_cliente">¡Necesito registrarme!</a>
        </form>
      </section> 
    </div>
</body>
</html>