<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MCS</title>
  <meta name="author" content="Team Digital">
  <meta name="description" content="Gestión del taller mecánico serviexpress">
  <meta name="keywords" content="taller, reparación, autos, vehiculos">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>

<body style="background-color: #101f38; background-image: url('{% static 'img/starring.png' %}');" class="font-sans leading-normal tracking-normal">
  <!--Nav-->
  <nav>
    <ul class="flex flex-col justify-center md:flex-row md:justify-evenly text-white">
      <li><a href="index"><img src="{% static 'img/logo-1.png' %}" alt="Logo"></a></li>
    </ul>
  </nav>

  <div class="flex flex-col md:flex-row">
    <div class="shadow-xl h-16 fixed bottom-0 md:relative md:h-screen z-10 w-full md:w-48">
      <div class="bg-gray-900 md:w-48  md:left-0 md:top-0 content-center md:content-start text-left justify-between ">
        <p class="block py-1 md:py-3 pl-1 align-middle text-gray-500">
          • Inicio de sesión.
        </p>
        <p class="block py-1 md:py-3 pl-1 align-middle text-gray-500">
          En caso de pérdida de la contraseña, por favor dirigirse a atención al cliente.
        </p>
      </div>
    </div>

    <div class="main-content flex-1 bg-gray-100">
      <div class="bg-gray-900">
        <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
          <h3 class="font-bold pl-2">Login</h3>
        </div>
      </div>
    <section class="formulario">
      <form method="POST" action="" class="flex flex-col">
        {% csrf_token %}
        {% if errores %}<h2 style="color: red;">{{ errores }}</h2>{% endif %}
      	<label >Usuario: </label>
      	<input type="text" id="usuario" name="username" required>
      	<label >Contraseña: </label>
      	<input type="password" id="password" name="password">
      	<br>
      	<input type="submit" value="Ingresar" >
        <hr>
        <a class="flex justify-center text-blue-800" href="/Mantenedor/registro_cliente">¡Necesito registrarme!</a>
      </form>
    </section> 
</body>
</html>