<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Órden de pedido</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
  <nav class="bg-gray-800 z-0">
    <ul class="flex flex-col justify-left md:flex-row md:justify-evenly text-white">
      <li><a href="index"><img src="{% static 'img/logo2.png' %}" alt="" width="100"></a></li>
      <li class="flex items-center"><a href="index">Volver</a></li>
    </ul>
  </nav>
  <div class="flex justify-center">
    <div class="flex justify-center w-11/12">
      <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
        <div class="bg-gray-800 pt-3">
          <div class="bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
            <h1 class="font-bold pl-2">Orden de Pedido</h1>
          </div>
        </div>
        <section class="p-3">
          <h2 class="font-bold text-center text-xl">Registros de los pedidos</h2>
          <button type="button" class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-3">
            Nuevo pedido
          </button>
          <table>
            <thead>
              <tr>
                <th>N° Pedido</th>
                <th>Fecha pedido</th>
                <th>Fecha llegada</th>
                <th>Produtos</th>
                <th>Proveedores</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>

              {# Datos Dummy #}
              {# <tr> #}
              {#  <td>1</td> #}
              {#  <td>3 de Julio de 2021</td> #}
              {#  <td>5 de Julio de 2021</td> #}
              {#  <td>• Neumaticos aro 16<br>• Aceite de motor</td> #}
              {#  <td>• Franco Lopez</td> #}
              {#  <td class="text-red-600">Enviado</td> #}
              {#</tr> #}

              {% for pedido in pedidos %}
              <tr>
                <td>{{ pedido.id_pedido }}</td>
                <td>{{ pedido.fecha_pedido }}</td>
                <td>{{ pedido.fecha_entrega }}</td>
                <td>
                  {% for detalle in detalles %}
                    {% if detalle.op_id_pedido.id_pedido == pedido.id_pedido %}
                      {% for producto in productos %}
                        {% if producto.id_producto == detalle.producto_id_producto.id_producto %}
                        <ul>
                          <li>{{ producto.nombre }}</li>
                        </ul>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for detalle in detalles %}
                    {% if detalle.op_id_pedido.id_pedido == pedido.id_pedido %}
                      {{ detalle.producto_id_producto.proveedor_id_proveedor.nombre }}
                    {% endif %}
                  {% endfor %}
                </td>
                <td class="text-red-600 font-bold">TODO: state</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- <form action="" method="POST" enctype="multipart/form-data" class="flex flex-col">
            {% csrf_token %}
            <label for="auto">Vehículo</label>
            <select id="auto" name="auto">
              {% for auto in autos %}
                <option value="{{ auto.id_informe }}">
                  {{ auto.patente }}, {{ auto.marca }}-{{ auto.modelo }}-{{ auto.year }}
                </option>
              {% endfor %}
            </select>
            <label >Producto: </label>
            <input type="text" id="producto" name="producto">
            <label >Proveedor: </label>
            <select id="proveedor" name="proveedor"> 
              {% for proveedor in proveedores %}
                  <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre }}, {{ proveedor.rubro }}</option>
              {% endfor %}
            </select>
            <label >Cantidad: </label>
            <input type="text" id="cantidad" name="cantidad">
            <br>
            <input type="submit" value="Enviar" >
          </form> -->
        </section>
      </div>
    </div>
  </div>
</body>
</html>