<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Órden de pedido</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tablas.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
  <nav class="bg-gray-800 z-0">
    <ul class="flex flex-col justify-left md:flex-row md:justify-evenly text-white">
      <li><a href="index"><img src="{% static 'img/logo2.png' %}" alt="" width="100"></a></li>
      <li class="flex items-center"><a href="index">Volver</a></li>
    </ul>
  </nav>
  <div class="flex justify-center">
    <div class="flex justify-center w-11/12 md:h-screen">
      <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
        <div class="bg-gray-800 pt-3">
          <div class="bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
            <h1 class="font-bold pl-2">Orden de Pedido</h1>
          </div>
        </div>
        <section class="p-3">
          <h2 class="font-bold text-center text-xl">Registros de los pedidos</h2>
          <button type="button" class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-3"
            onclick="toggleModal()">
            Nuevo pedido
          </button>
          <table>
            <thead>
              <tr>
                <th>N° Pedido</th>
                <th>Fecha pedido</th>
                <th>Fecha llegada</th>
                <th>Productos</th>
                <th>Proveedores</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody id="cuerpoTabla">

              {# Datos Dummy #}
              {# <tr> #}
                {# <td>1</td> #}
                {# <td>3 de Julio de 2021</td> #}
                {# <td>5 de Julio de 2021</td> #}
                {# <td>• Neumaticos aro 16<br>• Aceite de motor</td> #}
                {# <td>• Franco Lopez</td> #}
                {# <td class="text-red-600">Enviado</td> #}
                {# </tr> #}

              {% for pedido in pedidos %}
              <tr id='fp_{{ pedido.id_pedido }}'>
                <td>{{ pedido.id_pedido }}</td>
                <td>{{ pedido.fecha_pedido }}</td>
                <td>{{ pedido.fecha_entrega }}</td>
                <td>
                  {% for detalle in detalles %}
                  {% if detalle.op_id_pedido.id_pedido == pedido.id_pedido %}
                  {% for producto in productos %}
                  {% if producto.id_producto == detalle.producto_id_producto.id_producto %}
                  <ul>
                    <li>{{ producto.nombre }}</li>
                  </ul>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for detalle in detalles %}
                  {% if detalle.op_id_pedido.id_pedido == pedido.id_pedido %}
                  {{ detalle.producto_id_producto.proveedor_id_proveedor.nombre }}
                  {% endif %}
                  {% endfor %}
                </td>
                <td>
                  <i onclick="modalEliminar({{ pedido.id_pedido }})" 
                    title="Eliminar"
                    class="far fa-trash-alt text-red-600"
                    ></i> &nbsp;&nbsp;
                    <i onclick="alert('Registrando pago...')"
                      title="Pagar"
                      class="fas fa-hand-holding-usd text-green-600"
                    ></i>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>

  {# Modal para ingresar nueva órden #}
  <div
    class="min-w-screen h-screen animated fadeIn faster fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover overflow-scroll"
    style="display: none;" id="modal-ingreso-pedido">
    <div class="absolute bg-black opacity-80 inset-0 z-0" style="height: 160vh;"></div>
    <div class="relative m-5 md:mx-36 md:my-12 rounded-xl bg-white">
      <!--content-->
      <div class="">
        <!-- título -->
        <div class="text-center pt-5 flex-auto justify-center">
          <i class="fas fa-clipboard-list fa-3x"></i>
          <h1 class="text-xl font-bold px-4 pt-2">Agregar nueva órden de pedido</h1>
        </div>
        <!-- Formulario -->
        <div>
          <form method="POST" enctype="multipart/form-data" class="text-center">
            {% csrf_token %}

            <h3>Pedido N° <span id="fetch_id_pedido">X</span>, se inicia hoy, plazo llegada: 2 días.</h3><br>

            <div class="border-solid border-2 border-gray-400 py-3">
              <label for="auto">Vehículo</label><br>
              <select class="border-solid border border-gray-300" id="id_auto" name="auto">
                {% for auto in autos %}
                <option value="{{ auto.id_informe }}">
                  {{ auto.patente }}, {{ auto.marca }}-{{ auto.modelo }}-{{ auto.year }}
                </option>
                {% endfor %}
              </select>
            </div>
            <br>

            <div class="flex justify-around items-center border-solid border-2 border-gray-400 rounded-full py-3">
              <div>
                <h3>Proveedor</h3>
                <select id="selectProveedor" name="proveedor">
                  {% for proveedor in proveedores %}
                  <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre }}, {{ proveedor.rubro }}</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <h3>Producto</h3>
                <select id="selectProducto" name="producto">
                  {% for producto in productos %}
                  <option value="{{ producto.id_producto }}">{{ producto.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="w-min">
                <h3>Cantidad</h3>
                <input id="inputCantidad" class="w-12 p-0 m-0" type="number" min="1" value="1">
              </div>
              <div>
                <i onclick="descartar()" title="Descartar" class="text-red-600 fas fa-minus-circle"></i><br>
                <i onclick="addToList()" title="Agregar" class="text-blue-900 fas fa-plus-circle"></i>
              </div>
            </div>

            <ul id="listadoProductos" class="list-disc"></ul>

            <!-- <input type="submit" value="Enviar"> -->
          </form>
        </div>
        <!--botones finales-->
        <div class="p-3  mt-2 text-center space-x-4 md:block">
          <button onclick="toggleModal()"
            class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
            Cancelar
          </button>
          <button onclick="btnAgregar()"
            class="mb-2 md:mb-0 bg-blue-900 border border-blue-500 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-blue-600">
            Agregar</button>
        </div>
      </div>
    </div>
  </div>
  {# Fin Modal de ingreso de órden #}

  {# Modal Eliminar #}
  <div
    class="min-w-screen h-screen animated fadeIn faster fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"
    style="display: none;" id="modal-eliminar">
    <div onclick="document.getElementById('modal-eliminar').style.display = 'none'" class="absolute bg-black opacity-80 inset-0 z-0"></div>
    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
      <!--content-->
      <div class="">
        <!--body-->
        <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16 flex items-center text-red-500 mx-auto"
          viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
            clip-rule="evenodd" />
        </svg>
        <h2 class="text-center text-xl font-bold py-4 ">¿Borrar pedido <span id="span_pedido"></span> ?</h3>
          <p class="text-sm text-gray-500 px-8">Se borrará de manera definitiva el pedido.</p>
      </div>
      <!--footer-->
      <div class="p-3  mt-2 text-center space-x-4 md:block">
        <button
          class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100"
          onclick="document.getElementById('modal-eliminar').style.display = 'none'">
          Cancelar
        </button>
        <button
          id="btnBorrar" class="mb-2 md:mb-0 bg-red-500 border border-red-500 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-red-600"
          >
          Borrar
        </button>
      </div>
    </div>
  </div>
  </div>
  {# Fin Modal eliminiar #}

  <script>
    let listaGlobal = []
    let nueva_id_pedido
    function addToList(){
      let proveedor, producto, cantidad, listadoProductos, li

      proveedor = document.getElementById('selectProveedor')
      proveedor = proveedor.options[proveedor.selectedIndex].text

      producto = document.getElementById('selectProducto')
      producto = producto.options[producto.selectedIndex].text

      cantidad = document.getElementById('inputCantidad')
      listadoProductos = document.getElementById('listadoProductos')
      
      li = `<li class="w-max">${proveedor} - ${producto} - Cantidad: ${cantidad.value}</li>`
      listadoProductos.innerHTML += li
      listaGlobal.push([proveedor,producto,cantidad.value]) 
    }
    function descartar(){
      document.getElementById('listadoProductos').innerHTML = ''
      listaGlobal = []
    }
    function modalEliminar(id_pedido){
      document.getElementById('modal-eliminar').style.display = 'block'
      document.getElementById('span_pedido').innerText = id_pedido
      document.getElementById('btnBorrar').setAttribute('onclick', `eliminar(${id_pedido})`)
    }
    function eliminar(id_pedido) {
      document.getElementById('modal-eliminar').style.display = 'none'
      document.getElementById(`fp_${id_pedido}`).style.display = 'none'
      //alert(`Eliminando pedido ${id_pedido}`)
    }
    function btnAgregar() {
      toggleModal()
      let productos = ''
      let proveedor = ''
      let id_auto = document.getElementById('id_auto').value
      for (filas of listaGlobal){
        productos += `<li>${filas[1]} <strong>x${filas[2]}</strong></li>`
        proveedor += `<li>${filas[0]}</li>`
      }
      let hijo = `<tr id="fp_${nueva_id_pedido}">
        <td>${nueva_id_pedido}</td>
        <td>Fecha_dummy_1</td>
        <td>Fecha_dummy_1</td>
        <td>
          <ul>
            ${productos}
          </ul>
        </td>
        <td>
          ${proveedor}
        </td>
        <td>
          <i onclick="modalEliminar(1)" title="Eliminar" class="far fa-trash-alt text-red-600"></i> &nbsp;&nbsp;
            <i onclick="alert('Registrando pago...')" title="Pagar" class="fas fa-hand-holding-usd text-green-600"></i>
          </td>
      </tr>`
      document.getElementById('cuerpoTabla').innerHTML += hijo
      
      fetch(`${window.location.origin}/Mantenedor/agregar_pedido/${id_auto}/`)
          .then(response => response.text())
          .then(data => {
            alert('ASD!')
          })
          .catch((error) => alert('Algún error inesperado ha ocurrido al guardar en el servidor...'))
      //alert('Órden de pedido agregada!')
    }
    function toggleModal() {
      if (document.getElementById('modal-ingreso-pedido').style.display == 'none') {
        descartar()
        fetch(`${window.location.origin}/Mantenedor/get_new_id_pedido/`)
          .then(response => response.text())
          .then(data => {
            nueva_id_pedido = data
            document.getElementById('fetch_id_pedido').innerHTML = data
            document.getElementById('modal-ingreso-pedido').style.display = 'block'
          })
          .catch((error) => alert('Algún error inesperado ha ocurrido'))
      } else {
        document.getElementById('modal-ingreso-pedido').style.display = 'none'
      }
    }
  </script>
</body>
</html>