{% extends 'mantenedor/base.html' %}
{% load static %}
{% block content %}
<div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
  <div class="bg-red-900">
    <div class="rounded-tl-3xl bg-gradient-to-r from-red-900 to-red-800 p-4 shadow text-2xl text-white">
      <h3 class="font-bold pl-2">Registro Proveedor</h3>
    </div>
  </div>
  <section class="formulario">
    <form action="agregar_cliente" method="POST" enctype="multipart/form-data" class="flex flex-col">
      {% csrf_token %}

      <label>Rut: </label>
      <input type="text" id="rut" name="rut" required>

      <label>contacto: </label>
      <input type="text" id="contacto" name="contacto" required>

      <label>Nombre: </label>
      <input type="text" id="nombre" name="nombre" required>

      <label>Rubro: </label>
      <input type="text" id="rubro" name="rubro" required>

      <label>Contraseña: </label>
      <input type="text" id="password" name="password">
      <br>
      <input type="submit" value="Enviar">
    </form>
  </section>
  <div class="bg-white">
    <div class="rounded-tl-3xl bg-gradient-to-r from-red-900 to-red-800 p-4 shadow text-2xl text-white">
      <h3 class="font-bold pl-2">Registo Vehiculo</h3>
    </div>
    <section class="formulario">
      <form class="flex flex-col">
        <label>Chasis: </label>
        <input type="text" id="rut" required>

        <label>Matricula: </label>
        <input type="text" id="nombre">

        <label>Marca: </label>
        <input type="text" id="apellido">

        <label>Modelo: </label>
        <input type="text" id="direccion">

        <br>
        <input type="submit" value="Enviar">
      </form>
    </section>
  </div>
</div>
{% endblock content %}