<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MCS</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <!--Replace with your tailwind.css once created-->
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <!--Totally optional :) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
    integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_cliente.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}"> -->
</head>


<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
  <!--Nav-->
  <nav class="bg-gray-800 z-0">
    <ul class="flex flex-col justify-left md:flex-row md:justify-evenly text-white">
      <li><a href="index"><img src="{% static 'img/logo2.png' %}" alt="" width="100"></a></li>
      <li class="flex items-center"><a class="red-rounded-button" href="index">Volver</a></li>
    </ul>
  </nav>
  


  <div class="flex flex-col md:flex-row px-14">

    <div class="md:h-screen">


    </div>

    <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

      <div class="bg-gray-800 pt-3">
        <div class=" bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
          <h3 class="font-bold pl-2">Registro Cliente</h3>
        </div>
      </div>
      {% if formulario.errors %}
      <h2 style='color:red; text-align:center;'>
        {{ formulario.errors }}<br>
      </h2>{% endif %}
    <section class="formulario">
      <form action="" method="POST" enctype="multipart/form-data" class="">
        {% csrf_token %}
        <div class="cuadro">
          
            <div class='field' >  
              <label >Rut: </label>
              {{ formulario.username }}
            </div>

            <div class='field'>   
              <label >Nombre del cliente: </label>
              {{ formulario.first_name }}
            </div>
            
            <div class='field' >  
              <label >Apellido: </label>
              {{ formulario.last_name }}
            </div>
            <div class='field' >  
              <label >Direccion: </label>
              <input type="text" id="direccion" name="direccion">
            </div>
            <div class='field' >  
              <label >Telefono: </label>
              <input type="number" id="telefono" name="telefono">
            </div>
            <div class='field' >  
              <label >Celular: </label>
              <input type="number" id="celular" name="celular">
            </div>
            <div class="contra">
            <div class="field">
              <label >Email: </label>
              <!-- <input type="text" id="email" name="email"> -->
              {{ formulario.email }}
            </div>
            
              <div class="field">
                <label >Contraseña: </label>
                <!-- <input type="text" id="password" name="password"> -->
                {{ formulario.password1 }}
              </div>
              
              <div class="field">
                <label >Repetir contraseña: </label>
                {{ formulario.password2 }}
              </div>
              <div class="enviar">
                <input type="submit" value="Registrar" >
              </div>
            </div>
            
      </div>
      	
      	
      </form>
    </section> 

      
</body>
</html>