<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MCS</title>
  <meta name="author" content="Team_digital">
  <meta name="description" content="Reservas">
  <meta name="keywords" content="mcs">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
  <nav class="bg-gray-800 z-0">
    <ul class="flex flex-col justify-left md:flex-row md:justify-evenly text-white">
      <li><a href="index"><img src="{% static 'img/logo2.png' %}" alt="" width="100"></a></li>
      <li class="flex items-center"><a href="index">Volver</a></li>
    </ul>
  </nav>
  <div class="flex flex-col md:flex-row">
    <div class="bg-gray-800 shadow-xl h-16 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48">
      <div
        class=" md:w-48  md:left-0 md:top-0 content-center md:content-start text-left justify-between ">
      </div>
    </div>
  
    <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
      <div class="bg-gray-800 pt-3">
        <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
          <h3 class="font-bold pl-2">Reservas</h3>
        </div>
      </div>
    
    <section class="flex flex-col">
      <h1 class="flex justify-center">Datos cliente</h1>
      <article class="flex justify-around flex-wrap">
        <div>
          <label>Nombre: </label>
          <input type="text" value="{{ user.first_name }} {{ user.last_name }}" disabled>
        </div>
        <div>
          <label>Email: </label>
          <input type="text" value="{{ user.email }}" disabled>
        </div>
      </article>
    </section>
    <hr style="border-top: solid lightgray 2px;">
    <section class="flex flex-wrap w-full">
      <form action="" method="POST" enctype="multipart/form-data" class="flex flex-col w-full justify-center">
        {% csrf_token %}
        <h1 class="flex justify-center">Datos vehículo</h1>
        <article class="flex justify-around">
          <div>
            <label for="marca">Marca</label>
            <select class="p-2" id="marca" name="marca"> 
              <option value="hyundai">Hyundai</option>
              <option value="kia">Kia</option>
            </select>
          </div>
          <div>
            <label for="modelo">Modelo</label>
            <input type="text" name="modelo" id="modelo" required>
          </div>
          <div>
            <label for="patente">Patente</label>
            <input type="text" name="patente" id="patente" required>
          </div>
        </article>

        <hr style="border-top: solid lightgray 2px;">

        <h1 class="flex justify-center">Solicitar servicios:</h1>
        <article class="flex flex-wrap">
          {% for servicio in servicios %}
            <div class="p-3">
              <input type="checkbox" id="servicio{{ forloop.counter }}" name="servicio{{ forloop.counter }}" value="{{ servicio.nombre }}">
              <label class="font-thin text-xl" for="servicio{{ forloop.counter }}">{{ servicio.nombre }}</label><br>
            </div>
          {% endfor %}
        </article>
      	<br>
      	<input type="submit" value="Enviar">
      </form>
    </section>
</body>
</html>