body{
	background-color: #12000c;
	background-image: url("https://www.transparenttextures.com/patterns/starring.png");
}

.red-rounded-button {
	/* min-w-6-rem  */
	min-width: 6rem;

	/* text-center	 */
	text-align: center;

	/* bg-red-900  */
	--tw-border-opacity: 1;
	background-color: rgba(127,29,29,var(--tw-border-opacity));

	/*text-white*/
	--tw-text-opacity: 1;
	color: rgba(255,255,255,var(--tw-text-opacity));
	
	/* font-bold  */
	font-weight: 700;

	/* py-2  */
	padding-top: .5rem;
	padding-bottom: .5rem;

	/* px-4  */
	padding-left: 1rem;
	padding-right: 1rem;

	/* border-b-4  */
	border-bottom-width: 4px;

	/* border-red-900  */
	--tw-border-opacity: 1;
	border-color: rgba(110,20,20,var(--tw-border-opacity));

	/* rounded-full */
	border-radius: 9999px;
}

.red-rounded-button:hover {
	/* hover:border-red-800  */
	--tw-bg-opacity: 1;
	background-color: rgba(153,27,27,var(--tw-bg-opacity));

	/* border-red-900  */
	--tw-border-opacity: 1;
	border-color: rgba(127,29,29,var(--tw-border-opacity));
}

h1{
	font-size: 30px;
	font-weight: bold;
}

.max-400 > article {
	max-width: 400px;
}

#posts-1{
	max-width: 580px;
	text-align: center;
	
	font-family: Helvetica;
	padding: 10px;
}

#content{
	text-align: justify;
	padding: 20px;
}

.formulario{
	display: flex;
	justify-content: center;
}

form {
	padding: 20px;
	border:1px solid black;
	margin:20px;
}
label{
	font-size:30px;
	font-weight: bold;
}

input{
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #ccc;
}


.casilla{
	width: 50%;
}


.circulos{
	text-align: center;
	margin: 20px;
}

.circulos li{
	display: inline-block;
	opacity: 1;
	transition: opacity .5s;
}

.circulos a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}


.h1 {
	padding: 20px;
}
.slider{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
.slider ul {
	padding: 0;
	display: flex;
	width: 400%;
	
	animation: mover 20s infinite alternate;
	animation-timing-function: ease-out;
}
.slider li{
	list-style: none;
	width: 100%;
}
.slider img {
	width: 100%;
}

@keyframes mover {
	0% {margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
	
}


#extras{
	width: 100%;
	background: grey;
	margin-left: auto;
	margin-right: auto;
}

#extras ul{
	display: flex;
}

#extras img{

	padding: 2rem;

	border-radius: 100%;
}

#logos{
	width: 100%;
	margin: auto;
}
#logos ul{
	display: flex;
}

.setenta-vw {
	width: 70vw;
	
}

footer{
	
	height: 15rem;
	color: white;
	background-color: #1a0001;
	background-image: url("https://www.transparenttextures.com/patterns/starring.png");
}

.fondo{
	background-color: #1a0300;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

table,th,td{
	border: 1px solid black;

}

th,td{
	padding: 2rem;
}

.separador{
	padding: 5px;
}


