body{
	background-color: #12000c;
	background-image: url("https://www.transparenttextures.com/patterns/starring.png");
}

h1{
	font-size: 30px;
	font-weight: bold;
}

.max-400 > article {
	max-width: 400px;
}

#posts-1{
	max-width: 580px;
	text-align: center;
	
	font-family: Helvetica;
	padding: 10px;
}

#content{
	text-align: justify;
	padding: 20px;
}

.formulario{
	display: flex;
	justify-content: center;
}

form {
	padding: 20px;
	border:1px solid black;
	margin:20px;
}
label{
	font-size:30px;
	font-weight: bold;
}

input{
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #ccc;
}


.casilla{
	width: 50%;
}


.circulos{
	text-align: center;
	margin: 20px;
}

.circulos li{
	display: inline-block;
	opacity: 1;
	transition: opacity .5s;
}

.circulos a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}


.h1 {
	padding: 20px;
}
.slider{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
.slider ul {
	padding: 0;
	display: flex;
	width: 400%;
	
	animation: mover 20s infinite alternate;
	animation-timing-function: ease-out;
}
.slider li{
	list-style: none;
	width: 100%;
}
.sliderr img {
	width: 100%;
}

@keyframes mover {
	0% {margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
	
}


#extras{
	width: 100%;
	background: grey;
	margin: auto;
}

#extras ul{
	display: flex;
}

#extras img{

	width: 200px;
	height: 150px;
	border-radius: 100%;
}

#logos{
	width: 100%;
	margin: auto;
}
#logos ul{
	display: flex;
}

.setenta-vw {
	width: 70vw;
}

footer{
	
	height: 15rem;
	color: white;
	background-color: #1a0001;
	background-image: url("https://www.transparenttextures.com/patterns/starring.png");
}

.fondo{
	background-color: #1a0300;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

table,th,td{
	border: 1px solid black;

}

th,td{
	padding: 2rem;
}

.separador{
	padding: 5px;
}


