.container{
    margin: 50px auto;
    width: 800px;
}

table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: solid 1px black;
    padding: 20px;
}

thead{
    color: white;
    background-color: rgb(37, 88, 160);
    border-bottom: solid 5px #132a6f;
}

tr:nth-child(even){background-color: #d0d0d0;}

tr:hover td select{
    background-color: #9b9b9b;
    color: white;
}

tr:hover td {
    background-color: #6f6f6f;
    color: white;
}